.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}


.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.4em;

    padding: 1em;
    border: 2px solid var(--light-gray);
    border-radius: 8px;

    cursor: pointer;

    &:hover {
        border-color: var(--purplish-blue);
    }
}

.card.active {
    background-color: var(--magnolia);
    border-color: var(--purplish-blue);
}

.card__logo {
    flex-shrink: 0;
    height: 2.2em;
}


.card__title {
    font-weight: 700;
    color: var(--marine-blue);
}

.card__rate {
    color: var(--cool-gray);
    font-size: 0.8em;

}

.card__msg {
    color: var(--marine-blue);
    font-weight: 500;
    font-size: 0.8em;
}

.plan_type {
    width: 100%;
    padding: 1em;
    background-color: var(--magnolia);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.plan_type__option {
    color: var(--cool-gray);
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
}

.plan_type__option.active {
    color: var(--marine-blue);
}


.togglebtn {
    padding: 4px;
    border-radius: 50px;
    background-color: var(--marine-blue);
    width: 2.2em;
    height: 1em;
    position: relative;

    cursor: pointer;

}

.togglebtn__switch {
    background-color: var(--white);
    aspect-ratio: 1;
    height: 0.7em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.togglebtn.on .togglebtn__switch {
    left: 90%;
    transform: translateX(-100%) translateY(-50%);
}

@media screen and (min-width:800px) {
    .cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        width: 30%;
        flex-direction: column;
        align-items: start;
        gap: 0.4em;
    }

    .card__logo {
        margin-bottom: 2em;
    }
}